body {
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.container-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-title-login {
    width: 290px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.title-login {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px;

}

.card-margin {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (orientation: landscape) {
    .card-margin {
        width: 550px;
    }
}